
{% extends "master.html" %}
{% block title %}
  Details about
{% endblock %}


{% block content %}




<section class="container">

  <h3 class="my-5">publicacion </h3>

  <article class="row my-5 px-5">

    <h1 class="mb-4">{{ mypublication.title }} </h1>
    
    <div class="col-md-9 col-sm-12">
    
      <p>{{ mypublication.description }}</p>
      <h6>{{mypublication.date}}</h6>

    </div>

    <div class="col-md-3 col-sm-12 my-4">
      <img src="{{mypublication.image.url}}" alt="hjh" width="200" height="150" >
    </div>

  </article>

</section>
  
{% endblock %}