
{% extends "master.html" %}

{% block title %}
  listo a todos
{% endblock %}


{% block content %}



<div class="container ">
  <h2 class="mt-5">Projects </h2>
  
  <div class="row my-4 text-center">

    {% for x in myprojects %}
    <div class="col-lg-4 col-md-6 col-sm-6 p-4" >

      <div class="card ">
        <img src="{{ x.image.url }}" alt="kjdhfh"  width="250" height="220" class="card-img-top"/>

        <div class="card-body">
          <a href="{% url 'details' x.id %}">{{ x.title }}</a>
          <p>{{x.description |truncatechars:80 }}</p>
          
        
          {% if x.url %}
            <a href="{{x.url}}" class="btn btn-light btn-sm" target="_blank">Github</a>
          {% endif %}

        </div>        
      </div>
    </div>
    {% endfor %}

  </div>

  
</div>

 
  

{% endblock %}
