{% extends "master.html" %}
{% load static %}

{% block title %}
  my portfolio 
{% endblock %}


{% block content %}

<div class="">

  <div class="container py-5 text-white" >

    <section class="row my-5 py-5" >
  
      <div class="col-lg-7 col-md-12 col-sm-12 px-5" >
        <h1>I am </h1>
        <h1 style="font-size: 50px;"> Web Deleloper Full Stack</h1>
        <button class="button" style="vertical-align:middle"><span>Contact me </span></button>
      </div>

      <div class="col-lg-5 col-md-12 col-sm-12 text-center"  >
      
        <img src="{%static 'banner/avatar_principal.jpg' %}" width="350" height="250" alt="Descripción de la imagen">
      
      </div>
  
    </section>

    <section class="row text-center py-5 my-5" style="background-color: rgba(0, 0, 0, 0.2);">
  
      <h4 class="text-center pb-4">
        SERVICES
      </h4>

      <div class="col-lg-4 col-md-4 col-sm-12 my-4 ">
        <i class="material-icons" style="font-size:64px;">code</i>
        <h4>Development</h4>
        <p class="p-3">Se desarrollan aplicaciones para empresas e instituciones</p>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12 my-4">
        <i class="material-icons" style="font-size:64px;">computer</i>
        <h4>Web programming</h4>
        <p class="p-3">Se desarrollan paginas web a medida que requiera su negocio</p>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12 my-4 ">
        <i class="material-icons" style="font-size:64px;">cloud_download</i>
        <h4>Api services</h4>
        <p class="p-3">Se desarrollan servicios web api rest</p>
      </div>
  
    </section>

    <section class="row py-5 my-5" >

      <h4 class="text-center ">ABOUT ME</h4>

      <div class="col-lg-7 col-md-12 col-sm-12 p-4" >
        <h3>&lt;&gt;</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis hic, 
          maiores excepturi tenetur ea velit provident dolore voluptates eos omnis. 
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis necessitatibus 
          maxime ullam sint quas esse vel nostrum, explicabo odio at ratione quis, rerum aut. 
          Corporis ab rerum atque doloremque porro!
        </p>
        <h3>&lt;/&gt;</h3>
      </div>
  
      <div class="col-lg-5 col-md-12 col-sm-12 p-5 text-center">
        <img src="{%static 'banner/about_me.jpg' %}"  width="350" height="250" alt="Descripción de la imagen">
      </div>
  
    </section>

    <section class="row text-center py-5 my-5" style="background-color: rgba(0, 0, 0, 0.2);">

      <h4 class="text-center pb-4">
        CONTACT ME
      </h4>

      <div class="col-lg-4 col-md-4 col-sm-12 my-4 ">
        <i class="material-icons" style="font-size:44px;">location_on</i>
        <h6>ADRESS</h6>
        <p class="p-3">Nro 7 central street, Lima-Peru</p>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12 my-4">
        <i class="material-icons" style="font-size:44px;">smartphone</i>
        <h6>PHONE NUMBER</h6>
        <p class="p-3">999 888 444</p>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12 my-4 ">
        <i class="material-icons" style="font-size:44px;">mail</i>
        <h6>E-MAIL</h6>
        <p class="p-3">luis.angel.dce@gmail.com</p>
      </div>
  
    </section>

    
    
  </div>

</div>

  
{% endblock %}